.settingsMenu {
	z-index: 100;
	position: fixed;
	bottom: 12%;
	right: 2%;
	background-color: rgba(0, 0, 0, 0.419);
	height: 230px;
	width: 225px;
	text-align: center;
	color: white;
	vertical-align: middle;
}

.plusSignMenu, #minusSignMenu {
	z-index: 100;
	position: absolute;
	bottom: 1.3em;
	left: 2em;
	background-color: rgba(0, 0, 0, 0.419);
	height: 255px;
	width: 225px;
	text-align: center;
	color: white;
	vertical-align: middle;
	padding-top: 5%;
}
.plusSignMenu input, .plusSignMenu select, .minusSignMenu input, .minusSignMenu select, .settingsMenu select {
	height: 10%;
	margin-top: 5%;
	width: 77.5%;
	opacity: .7; 
}
select#tileCategory, select#gridSize, select#background-choice{
	border-radius: 0;
	-webkit-appearance: none;
	width:76.5%;
	height: 12.5%;
	padding-left: 3px;
	margin-left: 1px;
}
.plusSignMenu button, .minusSignMenu button{
	margin: 15% 2%;
	margin-bottom: 2%;
	width: 78px;
	background: white;
    opacity: .7;
	padding: 3% 1%;
	
}

#minusSignMenu {
	height: 345px; 
}

#deleteTileButton {
	margin-top: 0;
}
#deleteTileButton:hover {
	background: red;
	opacity: .6;
	color: white;
	font-weight: bold;
}
select#tileEditCategory {
    border-radius: 0;
    -webkit-appearance: none;
    width: 80.2%;
    height: 12.5%;
    padding-left: 3px;
    margin-left: 1px;
}

.hidden {
	display: none;
}

input.error::-webkit-input-placeholder {
  color: red;
}
 #tileCategory disabled {
	 color: rgb(116, 116, 116);
 }
/* TODO: fix width of labels */
#tileUrl, #tileTitle, #tileCategory{
	width: 165px;
}