html {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.container {
	width: 40%;
    height:100%;
	margin: 20px auto;
}

#grid {
    margin: 7% auto;
    display:grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 150px 150px 150px 150px 150px 150px;
}
.square {
    display:grid;
    grid-template-columns: 185px;
    grid-template-rows: 25px 110px;
    /* min-width: 20%;
	max-width: 15%;
    min-height: 100px;
    max-height: 20%; */
	background-color: silver;
	/*padding-bottom: 15%;*/
	float: left;
	margin: 2% 6.66%;
    /*border: solid 1px black;*/
    overflow:hidden;
    border-radius: 3%;
    box-shadow: 2px 2px 1px #888888;
    text-transform:capitalize;
}

/* .left{
    margin-left: 13.2%;
}

.middle {
    margin: 2% 0;
}

.right {
    position: absolute;
    top: 70%;
    bottom: 10%;
    left: 80%;
} */

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.footer {
    margin: 2%;
    text-align: center;
}

.center {
    margin-left: 43%;
    margin-right: 44%;
}

.favicon {
    padding: 4px;
    border-radius: 30%;

}

.tileheader {
    background: white;
    display:grid;
    grid-template-columns: 30px 170px;
    grid-template-rows: 30px;
}

.titlediv {
    padding-top: 3%;
    overflow: none;
    padding-bottom: 4px;
    
    white-space: nowrap;
}
p{
    
}

a {
    text-decoration: none;
    color: black;
}
/*color options
==========================*/

/*Keyframes
===========================*/

@keyframes CustomAnimationRad { 
    0%{background-position:76% 100%}
    25%{background-position:25% 100%}
    75%{background-position:76% 0%}
    100%{background-position:76% 100%}
}

@keyframes CustomAnimationLin { 
    0%{background-position:0% 79%}
    50%{background-position:100% 22%}
    100%{background-position:0% 79%}
}