html {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.1em;

}
main {
    display: grid;
    grid-template-columns: flex;
    grid-template-rows: 92% 8%;
}
.container {
	width: 40%;
    height:100%;
	margin: 20px auto;
}

#grid {
    margin: 14% auto;
    display:grid;
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: 16% 16% 16% 16% 16% 16% 16% ;
    grid-row-gap: 10%;
    grid-column-gap: 5.5%;
}
.square {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 25px 50px;
    grid-row-gap: 10%;
    background-color: rgba(0, 0, 0, 0.419);
	float: left;
	margin: 2% 6.66%;
    overflow:hidden;
    /* box-shadow: 2px 2px 1px #888888; */
    text-transform:capitalize;
}

.square:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
}

.square:active {
    background-color: rgba(0, 0, 0, 0.419);
    color: white;
}

.thumbnail {
    overflow:hidden;
    height: 25px;
    width: 25px;
    margin: auto;
    /* background-color: rgba(255, 255, 255, 0.3); */
    /* padding: 7%; */
    /* border-radius: 35%; */
    /*box-shadow: 10px 10px 10px white;*/
}

.placeholder {
    display:grid;
    width: 200px;
    grid-template-columns: 100%;
    grid-template-rows: 25px 50px;
    grid-row-gap: 10%;
    background-color: white;
    opacity: .3;
    overflow:hidden;
    margin: 2% 6.66%;
}

.placeholder:hover {
    background-color: rgba(0, 0, 0, 0.419);
}

.plus-sign {
    margin: 7% auto;
    height: 50px;
    width: 50px;
}

 .left {
    position: absolute;
    top: 50%;
    bottom: 10%;
    right: 80%;
}
.right {
    position: absolute;
    top: 50%;
    bottom: 10%;
    left: 80%;
} 

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;

}
.footer1 {
    margin: 3% 3% 3% 8%;
    text-align: left;
    width: 100%;
}

.footer2 {
    margin: 3% 8% 3% 3%;
    text-align: right;
}

#plusSign {
    height: 50px;
    width: 50px;
}

#plusSign:hover {
    height: 60px;
    width: 60px;
}

#minusSign {
    height:50px;
    width: 50px;
}

#minusSign:hover {
    height:60px;
    width: 60px;
}

#cog {
    height: 58px;
    width: 58px;
}

#cog:hover {
    height: 68px;
    width: 68px;
}

.favicon {
    padding: 4px;
    border-radius: 30%;
    display: none;
}

 img.favicon {
    height: 19px;
    width: 19px;
 }

.tileheader {
    background: rgba(0, 0, 0, 0);
    color: white;
    margin: auto;
    display: grid;
    grid-template-columns: 30px 170px;
    grid-template-rows: 30px;
    font-family: 'Fira Sans', sans-serif;
}

.titlediv {
    padding-top: 2%;
    overflow: none;
    padding-bottom: 4px;
    width: 200px;
    white-space: nowrap;
}
.titlediv p {
    text-align: center;
    margin-top: 10px;
    padding-left: 7px;
    padding-right: 7px;
    color: inherit;
}

.square:hover .titlediv {
    color: black;
}

.square:active .titlediv {
    color: white;
}

a {
    text-decoration: none;
    color: black;
}
/*color options
==========================*/

/*Keyframes
===========================*/

@keyframes CustomAnimationRad { 
    0%{background-position:76% 100%}
    25%{background-position:25% 100%}
    75%{background-position:76% 0%}
    100%{background-position:76% 100%}
}

@keyframes CustomAnimationLin { 
    0%{background-position:0% 79%}
    50%{background-position:100% 22%}
    100%{background-position:0% 79%}
}